<ion-content [fullscreen]="true" [scrollY]="false">
  <img 
    class="imagen-fondo"
    src="assets/fondos/fondo_territorios.jpg"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; object-position: top; z-index: 0; pointer-events: none;"
  />

  <div class="cuerpo">
    <div class="territorio samadha">
      <img class="foto" src="assets/img/territorios/samadha.png"/>
      <!-- <img class="boton" src="assets/img/boton_nombre_territorio.png"/> -->
      <div class="texto">Samadha</div>
    </div>
    <div class="territorio ankit">
      <img class="foto" src="assets/img/territorios/ankit.png"/>
      <!-- <img class="boton" src="assets/img/boton_nombre_territorio.png"/> -->
      <div class="texto">Ankit</div>
    </div>
    <div class="territorio radaeron">
      <img class="foto" src="assets/img/territorios/radaeron.png"/>
      <!-- <img class="boton" src="assets/img/boton_nombre_territorio.png"/> -->
      <div class="texto">Radaeron</div>
    </div>
    <div class="territorio saprashibaya">
      <img class="foto" src="assets/img/territorios/saprashibaya.png"/>
      <!-- <img class="boton" src="assets/img/boton_nombre_territorio.png"/> -->
      <div class="texto">Saprashibaya</div>
    </div>
    <div class="territorio tel-abadir">
      <img class="foto" src="assets/img/territorios/tel_abadir.png"/>
      <!-- <img class="boton" src="assets/img/boton_nombre_territorio.png"/> -->
      <div class="texto">Tel Abadir</div>
    </div>
    <div class="territorio daicon">
      <img class="foto" src="assets/img/territorios/daicon.png"/>
      <!-- <img class="boton" src="assets/img/boton_nombre_territorio.png"/> -->
      <div class="texto">Daicon</div>
    </div>
    <div class="horizontes">
      <img class="foto" src="assets/img/territorios/otros_horizontes.png"/>
      <div class="texto">Otros horizontes</div>
    </div>
  </div>
</ion-content>

<div class="opciones aparecer">
    <div class="atras">
        <app-atras [pagina]="'geografia'"></app-atras>
    </div>
    <div class="sonido">
        <app-musica></app-musica>
    </div>
    <div class="ayuda">
        <app-ayuda [pagina]="'territorios'"></app-ayuda>
    </div>
</div>