.icono-ayuda {
    opacity: 1;
    height: 35px;
}

.fondo-blur {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    background: rgba(255, 255, 255, 0.1);

    z-index: 999;
}

.mostrando {
    position: fixed;
    width: 100vw;
    height: 100vh;

    z-index: 1000;
}