<ion-content [fullscreen]="true" [scrollY]="false">
  <video
    #video
    [src]="'assets/videos/entrada_archivo.mp4'"
    autoplay
    preload="auto"
    playsinline
    muted
    poster="assets/fondos/negro.jpg"
    (click)="saltarVideo()"
    (ended)="onVideoEnded()"
    [class.active]="currentStep === 1"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
  </video>

  <img 
    class="imagen-fondo"
    src="assets/fondos/fondo_archivo.png"
    [class.active]="currentStep === 2"
    [class.blur-background]="tutorial"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;"
  />

  <img 
    class="imagen-fondo"
    src="assets/fondos/fondo_puerta_abierta.jpg"
    [class.active]="currentStep === 3"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: 1;"
    />
    <!-- [class.blur-background]="tutorial" -->

  <video
    #videoEntradaCat
    [src]="'assets/videos/entrada_categoria.mp4'"
    muted
    playsinline
    preload="auto"
    poster="assets/fondos/fondo_archivo.png"
    (click)="saltarVideo()"
    (ended)="onVideoCatEnded()"
    [class.active]="currentStep === 3"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: 2;">
  </video>

  <div *ngIf="mostrarCuerpo" class="cuerpo" [class.desvanecer]="desvaneciendo" (animationend)="onDesvanecerEnd($event)">
    <button class="archivo" [class.blur-background]="tutorial">Archivo</button>
    <div class="flecha flecha-arriba" *ngIf="puedesScrollArriba">▲</div>
    <div class="botones-scroll" (scroll)="onScroll($event)">
      <div class="botones">
        <div class="fila-botones" [class.blur-background]="tutorial && tutorialStep !== 2" [class.tutorial-resaltar-grande]="tutorialStep === 2">
          <div class="boton">
            <img class="icono-boton" src="assets/iconos/geografia.png" (click)="irA('geografia')">
            <button class="boton" (click)="irA('geografia')">Geografía</button>
          </div>
          <div></div>
          <div class="boton">
            <img class="icono-boton" src="assets/iconos/geones.png" (click)="irA('geones')">
            <button class="boton" (click)="irA('geones')">Geones</button>
          </div>
        </div>
        <div class="fila-botones" [class.blur-background]="tutorial">
          <div class="boton">
            <img class="icono-boton" src="assets/iconos/magia.png" (click)="irA('magia')">
            <button class="boton" (click)="irA('magia')">Magia</button>
          </div>
          <div></div>
          <div class="boton">
            <img class="icono-boton" src="assets/iconos/ferhel.png" (click)="irA('ferhel')">
            <button class="boton" (click)="irA('ferhel')">Ferhel</button>
          </div>
        </div>
        <div class="fila-botones" [class.blur-background]="tutorial">
          <div class="boton">
            <img class="icono-boton" src="assets/iconos/astral.png">
            <button class="boton">Astral</button>
          </div>
          <div></div>
          <div class="boton">
            <img class="icono-boton" src="assets/iconos/sociedad.png">
            <button class="boton">Sociedad</button>
          </div>
        </div>
        <div class="fila-botones" [class.blur-background]="tutorial">
          <div class="boton">
            <img class="icono-boton" src="assets/iconos/baluartes.png">
            <button class="boton">Baluartes</button>
          </div>
          <div></div>
          <div class="boton">
            <img class="icono-boton" src="assets/iconos/inmortales.png">
            <button class="boton">Inmortales</button>
          </div>
        </div>
        <div class="fila-botones" [class.blur-background]="tutorial">
          <div class="boton">
            <img class="icono-boton" src="assets/iconos/historia.png">
            <button class="boton">Historia</button>
          </div>
          <div></div>
          <div class="boton">
            <img class="icono-boton" src="assets/iconos/personajes.png" (click)="irA('personajes')">
            <button class="boton" (click)="irA('personajes')">Personajes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="flecha flecha-abajo" *ngIf="puedesScrollAbajo">▼</div>
  </div>
  
  
  <!-- <div *ngIf="mostrarCuerpo && !tutorial" class="opciones">
      <app-buscador></app-buscador>
      <app-atras [pagina]="'inicio'"></app-atras>
      <app-musica></app-musica>
      <app-ayuda [pagina]="'archivo'"></app-ayuda>
  </div> -->

  <div *ngIf="mostrarCuerpo" class="opcionesEsp" [class.desvanecer]="desvaneciendo">
    <div class="atrasEsp" [class.blur-background]="tutorial && tutorialStep !== 3" [class.tutorial-resaltar-pequeño]="tutorialStep === 3">
      <app-atras [pagina]="'inicio'"></app-atras>
    </div>
    <app-buscador [class.buscarEsp]="tutorial" [class.blur-background]="tutorial"></app-buscador>
    <div class="sonidoEsp" [class.blur-background]="tutorial && tutorialStep !== 4" [class.tutorial-resaltar-pequeño]="tutorialStep === 4">
      <app-musica></app-musica>
    </div>
    <div class="ayudaEsp" [class.blur-background]="tutorial && tutorialStep !== 6" [class.tutorial-resaltar-pequeño]="tutorialStep === 6">
      <app-ayuda [pagina]="'archivo'"></app-ayuda>
    </div>
  </div>

  <div *ngIf="tutorial" class="tutorial">
    <app-dialogo *ngIf="tutorialStep === 1" [pagina]="'archivo'" [entrada]="tutorial[tutorialStep -1]" (cerrar)="onCerrarTutorialStep()"></app-dialogo>
    <app-caja-texto *ngIf="tutorialStep === 2" [entrada]="tutorial[tutorialStep -1]" (cerrar)="onCerrarTutorialStep()"></app-caja-texto>
    <app-caja-texto *ngIf="tutorialStep === 3" [entrada]="tutorial[tutorialStep -1]" (cerrar)="onCerrarTutorialStep()"></app-caja-texto>
    <app-caja-texto *ngIf="tutorialStep === 4" [entrada]="tutorial[tutorialStep -1]" (cerrar)="onCerrarTutorialStep()"></app-caja-texto>
    <app-dialogo *ngIf="tutorialStep === 5" [pagina]="'archivo'" [entrada]="tutorial[tutorialStep -1]" (cerrar)="onCerrarTutorialStep()"></app-dialogo>
    <app-caja-texto *ngIf="tutorialStep === 6" [entrada]="tutorial[tutorialStep -1]" (cerrar)="onCerrarTutorialStep()"></app-caja-texto>
    <app-dialogo *ngIf="tutorialStep === 7" [pagina]="'archivo'" [entrada]="tutorial[tutorialStep -1]" (cerrar)="onCerrarTutorialStep()"></app-dialogo>
    <app-caja-texto *ngIf="tutorialStep === 8" [entrada]="tutorial[tutorialStep -1]" (cerrar)="onCerrarTutorialStep()"></app-caja-texto>
    <app-dialogo *ngIf="tutorialStep === 9" [pagina]="'archivo'" [entrada]="tutorial[tutorialStep -1]" (cerrar)="onCerrarTutorialStep()"></app-dialogo>
    <app-dialogo *ngIf="tutorialStep === 10" [pagina]="'archivo'" [entrada]="tutorial[tutorialStep -1]" (cerrar)="onCerrarTutorialStep()"></app-dialogo>
    <app-caja-texto *ngIf="tutorialStep === 11" [entrada]="tutorial[tutorialStep -1]" (cerrar)="onCerrarTutorialStep()"></app-caja-texto>
  </div>
</ion-content>
