@font-face {
    font-family: 'Immortal';
    src: url('/assets/fuentes/immortal.ttf');
}

@font-face {
    font-family: 'Aladin';
    src: url('/assets/fuentes/aladin.ttf');
}

video, .imagen-fondo {
    opacity: 0;
    pointer-events: none;
    z-index: 0;
}

video.active, img.active {
    opacity: 1;
    pointer-events: auto;
    z-index: 0;
}

#videoEntradaCat {
    z-index: 999 !important;
}

.cuerpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 100vh;
    width: 100vw;

    z-index: 1;

    // padding-top: 5vh;

    .archivo {
        background-image: url('/assets/img/panel_categoria.png');
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        
        width: 35%;
        height: 25%;

        // aspect-ratio: 1 / 3;

        z-index: 1;

        font-family: 'Immortal', sans-serif;
        font-size: 9vh;
        color: white;

        padding-top: 2px;
    }

    .flecha-arriba {
        color: black;
        position: absolute;
        top: 60%;
        left: 82%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        z-index: 2;
    }

    .flecha-abajo {
        color: black;
        position: absolute;
        top: 70%;
        left: 82%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        z-index: 2;
    }

    .botones-scroll {

        height: 55vh;
        width: 100%;
        overflow-y: auto !important;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        box-sizing: border-box;
        display: block;
        // justify-content: center;
        flex: 0 0 auto;
        padding-top: 7vh;

        .botones {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4vh;
    
            font-family: 'Aladin', sans-serif;
    
            width: 100%;

            min-height: max-content;
            box-sizing: border-box;
    
            .fila-botones {
                background-image: url('/assets/img/boton_doble.png');
                background-color: transparent;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

                width: 60%;
                height: 25vh;
    
                display: grid;
                grid-template-columns: 4fr 1fr 4fr;
    
                padding-left: 5%;
                padding-right: 5%;
                position: relative;
                box-sizing: border-box;
                flex: 0 0 auto;
                scroll-snap-align: start;
                
                z-index: 1;
                
                .icono-boton {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 5%;
                    left: 50%;
    
                    width: 40%;
                    height: auto;
    
                    opacity: 1;
                }
    
                .boton {
                    position: relative;
                }
                
                button {
                    background: none;
                    border: none;
        
                    padding-top: 3px;
        
                    font-size: 8vh;
                    color: white;
        
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
    
                }
    
            }
        }
    }
}

.sonidoEsp {
    position: absolute;
    top: 7%;
    left: 91%;
}

.ayudaEsp {
    position: absolute;
    top: 7%;
    left: 84%;
}

.atrasEsp {
    position: absolute;
    top: 7%;
    left: 5%;
}

.blur-background {
    filter: blur(5px);
    transition: filter 0.3s ease;
}

.tutorial-resaltar-grande {
    animation: resaltar-grande 1s infinite;
    z-index: 901;
}

.tutorial-resaltar-pequeño {
    animation: resaltar-pequeno 1s infinite;
    z-index: 901;
}

.desvanecer {
    animation: desvanecer 1s forwards;
}

@keyframes resaltar-grande {
    0%, 100% {
        transform: scale(1);
        z-index: 901;
    }
    50% {
        transform: scale(1.1);
        z-index: 901;
    }
}

@keyframes resaltar-pequeno {
    0%, 100% {
        transform: scale(1);
        z-index: 901;
    }
    50% {
        transform: scale(1.5);
        z-index: 901;
    }
}

@keyframes desvanecer {
    0%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}