<ion-content [fullscreen]="true" [scrollY]="false">
  <video
    #video
    [src]="'assets/videos/entrada_archivo.mp4'"
    autoplay
    muted
    playsinline
    preload="auto"
    poster="assets/fondos/negro.jpg"
    (click)="saltarVideo()"
    (ended)="onVideoEnded()"
    [class.active]="currentStep === 1"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
  </video>

  <img 
    class="imagen-fondo"
    src="assets/fondos/fondo_archivo.png"
    [class.active]="currentStep === 2"
    [class.blur-background]="tutorial"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;"
  />

  <video
    #videoEntradaCat
    [src]="'assets/videos/entrada_categoria.mp4'"
    muted
    playsinline
    preload="auto"
    poster="assets/fondos/fondo_archivo.png"
    (click)="saltarVideo()"
    (ended)="onVideoCatEnded()"
    [class.active]="currentStep === 3"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
  </video>

  <div *ngIf="mostrarCuerpo" class="cuerpo" [class.desvanecer]="currentStep === 3">
    <button class="archivo" [class.blur-background]="tutorial">Archivo</button>
    <div class="botones">
      <div class="fila-botones" [class.blur-background]="tutorial && tutorialStep !== 2" [class.tutorial-resaltar-grande]="tutorialStep === 2">
        <div class="boton">
          <img class="icono-boton" src="assets/iconos/geografia.png">
          <button class="boton">Geografía</button>
        </div>
        <div></div>
        <div class="boton">
          <img class="icono-boton" src="assets/iconos/geones.png">
          <button class="boton" (click)="irA('geones')">Geones</button>
        </div>
      </div>
      <div class="fila-botones" [class.blur-background]="tutorial">
        <div class="boton">
          <img class="icono-boton" src="assets/iconos/magia.png">
          <button class="boton">Magia</button>
        </div>
        <div></div>
        <div class="boton">
          <img class="icono-boton" src="assets/iconos/ferhel.png">
          <button class="boton">Ferhel</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="mostrarCuerpo" class="opciones" [class.desvanecer]="currentStep === 3">
    <div class="atras" [class.blur-background]="tutorial && tutorialStep !== 3" [class.tutorial-resaltar-pequeño]="tutorialStep === 3">
      <app-atras [pagina]="'inicio'"></app-atras>
    </div>
    <div class="sonido" [class.blur-background]="tutorial && tutorialStep !== 4" [class.tutorial-resaltar-pequeño]="tutorialStep === 4">
      <app-musica></app-musica>
    </div>
    <div class="ayuda" [class.blur-background]="tutorial && tutorialStep !== 6" [class.tutorial-resaltar-pequeño]="tutorialStep === 6">
      <app-ayuda [pagina]="'archivo'"></app-ayuda>
    </div>
  </div>

  <div *ngIf="tutorial" class="tutorial">
    <app-dialogo *ngIf="tutorialStep === 1" [pagina]="'archivo'" [tutorial]="tutorial[tutorialStep -1]" (cerrar)="onCerrarTutorialStep()"></app-dialogo>
    <app-caja-texto *ngIf="tutorialStep === 2" [tutorial]="tutorial[tutorialStep -1]" (cerrar)="onCerrarTutorialStep()"></app-caja-texto>
    <app-caja-texto *ngIf="tutorialStep === 3" [tutorial]="tutorial[tutorialStep -1]" (cerrar)="onCerrarTutorialStep()"></app-caja-texto>
    <app-caja-texto *ngIf="tutorialStep === 4" [tutorial]="tutorial[tutorialStep -1]" (cerrar)="onCerrarTutorialStep()"></app-caja-texto>
    <app-dialogo *ngIf="tutorialStep === 5" [pagina]="'archivo'" [tutorial]="tutorial[tutorialStep -1]" (cerrar)="onCerrarTutorialStep()"></app-dialogo>
    <app-caja-texto *ngIf="tutorialStep === 6" [tutorial]="tutorial[tutorialStep -1]" (cerrar)="onCerrarTutorialStep()"></app-caja-texto>
    <app-dialogo *ngIf="tutorialStep === 7" [pagina]="'archivo'" [tutorial]="tutorial[tutorialStep -1]" (cerrar)="onCerrarTutorialStep()"></app-dialogo>
    <app-caja-texto *ngIf="tutorialStep === 8" [tutorial]="tutorial[tutorialStep -1]" (cerrar)="onCerrarTutorialStep()"></app-caja-texto>
    <app-dialogo *ngIf="tutorialStep === 9" [pagina]="'archivo'" [tutorial]="tutorial[tutorialStep -1]" (cerrar)="onCerrarTutorialStep()"></app-dialogo>
    <app-dialogo *ngIf="tutorialStep === 10" [pagina]="'archivo'" [tutorial]="tutorial[tutorialStep -1]" (cerrar)="onCerrarTutorialStep()"></app-dialogo>
  </div>
</ion-content>
