<ion-content [fullscreen]="true" [scrollY]="false">
  <img class="imagen-fondo" [src]="'assets/fondos/lista_ferhel/lista_' + habitat + '.jpg'"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; object-position: top; z-index: 0; pointer-events: none;" />
  <div class="contenedor">

    <div class="bioma" [class.salirIzqTitulo]="entrarSiguiente" [class.salirDerTitulo]="entrarAnterior">
      {{ habitat }}
    </div>

    <div *ngIf="lista.length" class="lista" [class.salirIzq]="entrarSiguiente" [class.salirDer]="entrarAnterior">
      <app-ferhel-component *ngFor="let ferhel of lista" [ferhel]="ferhel.id">
      </app-ferhel-component>
    </div>
  </div>
</ion-content>

<div class="opciones aparecer">
  <app-atras [pagina]="'ferhel'"></app-atras>
  <app-musica></app-musica>
  <app-ayuda [pagina]="'lista-ferhel'"></app-ayuda>
  <app-salir></app-salir>
</div>