<ion-content [fullscreen]="true">
  <video
    #video1
    [src]="'assets/videos/video_inicio.mp4'"
    muted
    playsinline
    preload="auto"
    poster="assets/fondos/negro.webp"
    (click)="saltarVideo()"
    (ended)="onVideo1Ended()"
    [class.active]="currentStep === 1"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
  </video>

  <img
    src="assets/fondos/fondo_menu.webp"
    [class.active]="currentStep === 2"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;"
  />

  <div *ngIf="mostrarMenu" class="cuerpo" [class.desactivar]="opciones">
    <img src="assets/img/titulo.webp" alt="titulo" class="titulo">
    <img src="assets/img/subtitulo.webp" alt="subtitulo" class="subtitulo">
    <button class="archivo" (click)="toArchivo()">Archivo</button>
    <div class="extras">
      <button class="boton-extra">Autora</button>
      <button class="boton-extra" (click)="mostrarOpciones()">Opciones</button>
      <button class="boton-extra">Créditos</button>
      <button class="boton-extra">Logros</button>
    </div>
  </div>
  <div *ngIf="mostrarMenu" class="sonido">
    <app-musica></app-musica>
  </div>
  <img *ngIf="mostrarMenu" src="assets/img/estrella.webp" class="estrella"/>
  <img
    *ngIf="desvanecer"
    src="assets/fondos/negro.webp"
    class="desvanecer"
  />
</ion-content>

<app-opciones *ngIf="opciones" (cerrar)="cerrarOpciones()"></app-opciones>