<ion-content [fullscreen]="true">
  <video
    #video1
    [src]="'assets/videos/intro_biblioteca_geon.mp4'"
    muted
    playsinline
    (ended)="onVideo1Ended()"
    [class.active]="currentStep === 1"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
  </video>

  <video
    #video2
    [src]="'assets/videos/video_intro2.mp4'"
    muted
    playsinline
    (ended)="onVideo2Ended()"
    [class.active]="currentStep === 2"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
  </video>

  <img
    src="assets/fondos/fondo_menu.jpg"
    [class.active]="currentStep === 3"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;"
  />
</ion-content>
