<ion-content [fullscreen]="true" [scrollY]="false">
    <img 
    class="imagen-fondo"
    src="assets/fondos/fondo_ferhel.jpg"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; object-position: top; z-index: 0; pointer-events: none;"
    />
    
    <video
    #videoCatalejo
    [hidden]="!mostrarVideo"
    [src]="'assets/videos/animacion_catalejo.mp4'"
    muted
    playsinline
    preload="auto"
    poster="assets/fondos/fondo_ferhel.jpg"
    (ended)="onVideoCatalejoEnd()"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: 2;">
  </video>
  
  <div *ngIf="entrada" class="cuerpo">
    <div class="entrada">
      <div class="titulo">{{ entrada.nombre }}</div>
      <div class="texto" [innerHTML]="entrada.descripcion"></div>
    </div>
    
    <div class="botones">
      <div class="boton" (click)="irAObservar()">
        <img class="observar" src="assets/img/observar_ferhel.png"/>
        <div class="tag">Observar fauna</div>
      </div>
      <div class="boton" (click)="mostrarBiomas()">
        <img class="listaBoton" src="assets/img/lista_ferhel.png"/>
        <div class="tag">Atlas Naturista</div>
      </div>
    </div>
  </div>
</ion-content>

<div *ngIf="tutorial" class="fondo-blur"></div>

<app-rueda-biomas class="biomas" *ngIf="biomas" (cerrar)="cerrarRueda()"></app-rueda-biomas>

<div *ngIf="tutorialStep === 9 || tutorialStep === 17" class="botones-tutorial">
  <div class="boton" [class.mostrar]="tutorialStep === 17">
    <img class="listaBoton" src="assets/img/observar_ferhel.png"/>
    <div class="tag">Observar Fauna</div>
  </div>
  <div class="boton" [class.mostrar]="tutorialStep === 9">
    <img class="listaBoton" src="assets/img/lista_ferhel.png"/>
    <div class="tag">Atlas Naturista</div>
  </div>
</div>

<div *ngIf="!mostrarVideo" class="opciones aparecer">
  <app-atras [pagina]="'archivo'"></app-atras>
  <app-musica></app-musica>
  <app-ayuda [pagina]="'ferhel'"></app-ayuda>
</div>

<div *ngIf="tutorial" class="tutoriales">
  <div *ngIf="!mostrarTutorial" class="fondo-blur"></div>
  <app-dialogo *ngIf="tutorial[tutorialStep].foto.length > 0 && mostrarTutorial" [pagina]="'ferhel'" [entrada]="tutorial[tutorialStep]" (cerrar)="onCerrarTutorialStep()"></app-dialogo>
  <app-caja-texto *ngIf="tutorial[tutorialStep].foto.length === 0 && mostrarTutorial" [entrada]="tutorial[tutorialStep]" [arriba]="arriba" (cerrar)="onCerrarTutorialStep()"></app-caja-texto>
</div>
