<ion-content [fullscreen]="true" [scrollY]="false">
  <!-- <img class="fondo" [src]="'assets/fotos/pj-pagina/' + personaje + '.webp'"> -->
  <video
    #videoPj
    [src]="'assets/videos/pj-pagina/' + personaje + '.mp4'"
    class="fondo"
    autoplay
    muted
    playsinline
    preload="auto"
    [poster]="'assets/fotos/pj-pagina/' + personaje + '.webp'"
    (click)="reproducirVideo()"
    (ended)="onVideoEnded()"
  >
  </video>
  <div *ngIf="entrada && !primeraReproduccion" class="cuerpo">
    <div class="texto">
      <div class="nombre">{{ entrada.nombre }}</div>
      <div class="descripcion no-scrollbar">{{ entrada.descripcion }}</div>
    </div>
  </div>
</ion-content>

<div class="opciones">
  <app-atras [pagina]="atras"></app-atras>
  <app-musica></app-musica>
  <app-ayuda [pagina]="personaje"></app-ayuda>
  <app-salir></app-salir>
</div>