<ion-content [fullscreen]="true" [scrollY]="false">
  <video
    #video1
    *ngIf="showVideo1"
    [src]="'assets/videos/firma_alma.mp4'"
    poster="assets/fondos/negro.jpg"
    autoplay
    playsinline
    muted
    preload="auto"
    (ended)="onVideoEnded()">
  </video>
  
    <!-- Botón para iniciar en iOS -->
     <div *ngIf="showStartButton" class="start-button-container">
      <button expand="block" size="large" (click)="startIntro()">Toca para iniciar</button>
     </div>
</ion-content>
