<ion-content [fullscreen]="true" [scrollY]="false">
  <!-- <video
    #video1
    *ngIf="showVideo1"
    [src]="'assets/videos/firma_alma.mp4'"
    poster="assets/fondos/negro.jpg"
    autoplay
    playsinline
    muted
    preload="auto"
    (ended)="onVideoEnded()">
  </video> -->

  <img
    *ngIf="logoAlma"
    class="logo_alma"
    src="assets/img/alma_logo.jpg"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: contain; z-index: 1;"
  />


  <video
    #video2
    *ngIf="showVideo2"
    [src]="'assets/videos/video_logotipo.mp4'"
    poster="assets/fondos/negro.jpg"
    autoplay
    playsinline
    muted
    preload="auto"
    (ended)="onVideoEnded()">
  </video>

  <!-- *ngIf="!showVideo1 && !showVideo2" -->
  <img
    src="assets/img/neo_asteride.jpg"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: 0;"
  />
  
    <!-- Botón para iniciar en iOS -->
     <div *ngIf="showStartButton" class="start-button-container">
      <button expand="block" size="large" (click)="startIntro()">Toca para iniciar</button>
     </div>
</ion-content>
