.buscador {
  .lupa {
    position: absolute;
    top: 7%;
    left: 12%;
    height: 35px;

    z-index: 5;
  }

  .buscar {
    position: absolute;
    top: 7%;
    left: 18%;
    height: 35px;
    width: 63%;
    padding-left: 2%;
    
    border-radius: 50px;
    // border-radius: 0 50px 50px 0;
    background-color: white;

    color: black;

    z-index: 4;
  }

  .resultados {
    position: absolute;
    // top: calc(7% + 40px);
    top: 7%;
    left: 18.2%;
    width: 62.7%;
    padding-top: 1.5%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    background: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 8px black;
    max-height: 250px;
    overflow-y: auto;
    z-index: 3;

    list-style: none;

    li {
      padding-top: 13px;
      cursor: pointer;
      color: black;
      text-align: left;

      span {
        padding-left: 2%;
      }
    }

    li + li {
      border-top: 1px solid #e0e0e0;
      margin-top: 8px;
      padding-top: 8px;
    }
  }
  
  .aparecer {
    animation: aparecer 0.5s ease;
  }

  @keyframes aparecer {
    0%{
      width: 5%;
    }
    100%{
      width: 63%;
    }
  }
  
  .ocultar {
    animation: ocultar 0.5s ease;
  }

  @keyframes ocultar {
    0%{
      width: 63%;
    }
    100%{
      width: 0;
    }
  } 
}