<ion-content [fullscreen]="true" [scrollY]="false" [scrollX]="false"
>
<!-- (pointerdown)="actualizarObjetivo($event)"
(pointermove.capture)="actualizarObjetivo($event)" -->
  <img [src]="'assets/fondos/biomas/fondo_' + bioma + '.jpg'" class="fondo">

  <div class="lupas" *ngFor="let lupa of lupas">
    <img
      *ngIf="!lupa.encontrada"
      class="lupa"
      [style.left.px]="lupa.x" 
      [style.top.px]="lupa.y" 
      src="assets/iconos/busqueda.png"
      (click)="clickLupa(lupa)"
      [class.activa]="lupa.visible"
    />
  </div>

  <div 
    class="mascara"
    [ngStyle]="{
      '--x': posX + 'px',
      '--y': posY + 'px'
    }"
  ></div>

  <video
    *ngIf="videoActivo"
    #videoRef
    class="video-catalejo"
    [src]="videoSrc"
    preload="auto"
    [poster]="posterSrc"
    autoplay
    playsinline
    muted
    (ended)="cerrarVideo()"
    [ngStyle]="{
      left: posX + 'px',
      top: posY + 'px'
    }"
  ></video>

  <div *ngIf="mostrarMensaje" class="mensaje" (click)="cerrarMensaje()">
    <span>¡Has descubierto un {{ lupaActual.ferhel.id }}!</span>
  </div>
</ion-content>

<div class="opciones aparecer">
  <app-atras [pagina]="'ferhel'"></app-atras>
  <app-musica></app-musica>
  <app-ayuda [pagina]="'observar-ferhel'"></app-ayuda>
  <app-salir></app-salir>
</div>