ion-content {
    --background: transparent;
    touch-action: none;
}

.fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.lupa {
    position: absolute;
    width: 40px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}

.lupa.activa {
    opacity: 1;
    pointer-events: auto;
}

.mascara {
  position: fixed;
  inset: 0;
  background: radial-gradient(circle 120px at var(--x) var(--y), transparent 0 120px, black 100px);
  pointer-events: none;
  z-index: 2;
}

.video-catalejo {
    position: fixed;
    width: 290px;
    height: 290px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;

    z-index: 1;
}