<ion-content [fullscreen]="true" scrollY="false"
(pointerdown)="actualizarObjetivo($event)"
(pointermove)="actualizarObjetivo($event)"
>
<!-- (touchmove)="mover($event)"
(mousemove)="mover($event)" -->
  <img src="assets/fondos/biomas/fondo_desierto.jpg" class="fondo">

  <img
    *ngFor="let lupa of lupas"
    class="lupa"
    [style.left.px]="lupa.x" 
    [style.top.px]="lupa.y" 
    src="assets/iconos/busqueda.png"
    (click)="clickLupa(lupa)"
    [class.activa]="lupa.visible"
  />

  <div 
    class="mascara"
    [ngStyle]="{
      '--x': posX + 'px',
      '--y': posY + 'px'
    }"
  ></div>
</ion-content>

<div class="opciones aparecer">
  <app-atras [pagina]="'ferhel'"></app-atras>
  <app-musica></app-musica>
  <app-ayuda [pagina]="'observar-ferhel'"></app-ayuda>
</div>