.constelaciones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    .constelacion {
        position: relative;

        height: 60%;
        width: 30%;
        z-index: 1;

        .estrellas {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);

            height: 90%;

        }

        .lineas {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 90%;

            .trazo1Ab {
                stroke: white;
                stroke-width: 0.5;
                stroke-linecap: round;
                stroke-dasharray: 100;
                stroke-dashoffset: 100;
                animation: dibujar 1.5s linear forwards;

            }

            .trazo2Ab {
                stroke: white;
                stroke-width: 0.5;
                stroke-linecap: round;
                stroke-dasharray: 100;
                stroke-dashoffset: 100;
                animation: dibujar 1.5s linear forwards;

            }

            .trazo3Ab {
                stroke: white;
                stroke-width: 0.5;
                stroke-linecap: round;
                stroke-dasharray: 100;
                stroke-dashoffset: 100;
                animation: dibujar 0.5s linear forwards;

            }

            .trazo4Ab {
                stroke: white;
                stroke-width: 0.5;
                stroke-linecap: round;
                stroke-dasharray: 100;
                stroke-dashoffset: 100;
                animation: dibujar 1s linear forwards;

            }

            @keyframes dibujar {
                to {
                    stroke-dashoffset: 0;
                }
            }
        }

        .icono {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);

            opacity: 0.4;

            height: 90%;

            z-index: 2;

            animation: aparecerIcono 2s forwards;

            @keyframes aparecerIcono {
                0%, 50% {
                    opacity: 0;
                }
                100% {
                    opacity: 0.4;
                }
            }
        }
        
        .nombre {
            position: absolute;
            top: 95%;
            left: 50%;
            color: white;
            // transform: translate(-50%, -50%);
            transform: translateX(-50%);

            font-family: 'Aladin', serif;
            font-size: 2rem;
        }
        
        .completa {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);

            height: 90%;

            z-index: 10;

            animation: mostrarCompleta 2s forwards;

            @keyframes mostrarCompleta {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }
    }
}

.opciones {
    
    .sonido {
        position: absolute;
        top: 7%;
        left: 91%;
    }
    
    .ayuda {
        position: absolute;
        top: 7%;
        left: 84%;
    }
    
    .atras {
        position: absolute;
        top: 7%;
        left: 5%;
    }
}