<ion-content [fullscreen]="true" [scrollY]="false" [scrollX]="true">
  
  <div class="constelaciones">
    <div class="constelacion abacu arriba" (click)="abacu()">
      <img class="estrellas" src="assets/img/constelaciones/abacu/abacu_estrellas.png"/>
      <img *ngIf="mostrarAbacu" class="icono" src="assets/img/constelaciones/abacu/abacu_icono.png"/>
      <svg class="lineas" viewBox="0 0 100 100" preserveAspectRatio="xMidyMid meet">
        <line *ngIf="pasoAbacu >= 1 && !ocultarSVGAbacu" x1="57%" y1="54%" x2="36.5%" y2="79%" class="trazo1Ab"/>
        <line *ngIf="pasoAbacu >= 2 && !ocultarSVGAbacu" x1="36.5%" y1="79%" x2="66.2%" y2="94.5%" class="trazo2Ab"/>
        <line *ngIf="pasoAbacu >= 3 && !ocultarSVGAbacu" x1="66.2%" y1="94.5%" x2="30%" y2="5.8%" class="trazo3Ab"/>
        <line *ngIf="pasoAbacu >= 4 && !ocultarSVGAbacu" x1="30%" y1="5.8%" x2="65%" y2="40.2%" class="trazo4Ab"/>
      </svg>
      <img *ngIf="mostrarAbacu" (click)="irA('abacu')" class="completa" src="assets/img/constelaciones/abacu/abacu_constelacion.png"/>
      <span class="nombre">Ábacu</span>
    </div>

    <div class="constelacion virnut abajo" (click)="virnut()">
      <img class="estrellas" src="assets/img/constelaciones/virnut/virnut_estrellas.png"/>
      <img *ngIf="mostrarVirnut" class="icono" src="assets/img/constelaciones/virnut/virnut_icono.png"/>
      <svg class="lineas" viewBox="0 0 100 100" preserveAspectRatio="xMidyMid meet">
        <line *ngIf="pasoVirnut >= 1 && !ocultarSVGVirnut" x1="19.5%" y1="83%" x2="39.7%" y2="67.2%" class="trazo1Vi"/>
        <line *ngIf="pasoVirnut >= 2 && !ocultarSVGVirnut" x1="39.7%" y1="67.2%" x2="15%" y2="23.5%" class="trazo2Vi"/>
        <line *ngIf="pasoVirnut >= 3 && !ocultarSVGVirnut" x1="15%" y1="23.5%" x2="50%" y2="45%" class="trazo3Vi"/>
        <line *ngIf="pasoVirnut >= 4 && !ocultarSVGVirnut" x1="50%" y1="45.6%" x2="86%" y2="24%" class="trazo4Vi"/>
        <line *ngIf="pasoVirnut >= 5 && !ocultarSVGVirnut" x1="86%" y1="24%" x2="61.5%" y2="67.2%" class="trazo5Vi"/>
        <line *ngIf="pasoVirnut >= 6 && !ocultarSVGVirnut" x1="61.5%" y1="67.2%" x2="82%" y2="83%" class="trazo6Vi"/>
      </svg>
      <img *ngIf="mostrarVirnut" (click)="irA('virnut')" class="completa" src="assets/img/constelaciones/virnut/virnut_constelacion.png"/>
      <span class="nombre">Virnut</span>
    </div>

    <div class="constelacion caal arriba" (click)="caal()">
      <img class="estrellas" src="assets/img/constelaciones/caal/caal_estrellas.png"/>
      <img *ngIf="mostrarCaal" class="icono" src="assets/img/constelaciones/caal/caal_icono.png"/>
      <svg class="lineas" viewBox="0 0 100 100" preserveAspectRatio="xMidyMid meet">
        <line *ngIf="pasoCaal >= 1 && !ocultarSVGCaal" x1="16.5%" y1="52%" x2="14.8%" y2="19%" class="trazo1Ca"/>
        <line *ngIf="pasoCaal >= 2 && !ocultarSVGCaal" x1="14.8%" y1="19%" x2="55%" y2="40.6%" class="trazo2Ca"/>
        <line *ngIf="pasoCaal >= 3 && !ocultarSVGCaal" x1="56%" y1="41.6%" x2="13.9%" y2="67.6%" class="trazo3Ca"/>
        <line *ngIf="pasoCaal >= 4 && !ocultarSVGCaal" x1="13.9%" y1="67.6%" x2="66%" y2="86.9%" class="trazo4Ca"/>
        <line *ngIf="pasoCaal >= 5 && !ocultarSVGCaal" x1="66%" y1="86.9%" x2="83.6%" y2="9.5%" class="trazo5Ca"/>
      </svg>
      <img *ngIf="mostrarCaal" (click)="irA('caal')" class="completa" src="assets/img/constelaciones/caal/caal_constelacion.png"/>
      <span class="nombre">Caal Melqart</span>
    </div>

    <div class="constelacion dyshiba abajo" (click)="dyshiba()">
      <img class="estrellas" src="assets/img/constelaciones/dyshiba/dyshiba_estrellas.png"/>
      <img *ngIf="mostrarDyshiba" class="icono" src="assets/img/constelaciones/dyshiba/dyshiba_icono.png"/>
      <svg class="lineas" viewBox="0 0 100 100" preserveAspectRatio="xMidyMid meet">
        <line *ngIf="pasoDyshiba >= 1 && !ocultarSVGDyshiba" x1="35.5%" y1="56.2%" x2="50.5%" y2="39.5%" class="trazo1Dy"/>
        <line *ngIf="pasoDyshiba >= 2 && !ocultarSVGDyshiba" x1="50.5%" y1="39.8%" x2="65%" y2="48.1%" class="trazo2Dy"/>
        <line *ngIf="pasoDyshiba >= 3 && !ocultarSVGDyshiba" x1="65.5%" y1="49%" x2="50.4%" y2="71%" class="trazo3Dy"/>
        <line *ngIf="pasoDyshiba >= 4 && !ocultarSVGDyshiba" x1="50.4%" y1="71%" x2="22%" y2="71%" class="trazo4Dy"/>
        <line *ngIf="pasoDyshiba >= 5 && !ocultarSVGDyshiba" x1="21%" y1="71%" x2="29.9%" y2="38.5%" class="trazo5Dy"/>
        <line *ngIf="pasoDyshiba >= 6 && !ocultarSVGDyshiba" x1="29.9%" y1="38.2%" x2="54%" y2="31.3%" class="trazo6Dy"/>
        <line *ngIf="pasoDyshiba >= 7 && !ocultarSVGDyshiba" x1="54%" y1="31.4%" x2="83.4%" y2="45.4%" class="trazo7Dy"/>
        <line *ngIf="pasoDyshiba >= 8 && !ocultarSVGDyshiba" x1="83.5%" y1="45.4%" x2="55.1%" y2="80%" class="trazo8Dy"/>
      </svg>
      <img *ngIf="mostrarDyshiba" (click)="irA('dyshiba')" class="completa" src="assets/img/constelaciones/dyshiba/dyshiba_constelacion.png"/>
      <span class="nombre">Dyshiba</span>
    </div>

    <div class="constelacion upsilon arriba" (click)="upsilon()">
      <img class="estrellas" src="assets/img/constelaciones/upsilon/upsilon_estrellas.png" />
      <img *ngIf="mostrarUpsilon" class="icono" src="assets/img/constelaciones/upsilon/upsilon_icono.png" />
      <svg class="lineas" viewBox="0 0 100 100" preserveAspectRatio="xMidyMid meet">
        <line *ngIf="pasoUpsilon >= 1 && !ocultarSVGUpsilon" x1="91.5%" y1="43.7%" x2="68.8%" y2="70.6%" class="trazo1Up" />
        <line *ngIf="pasoUpsilon >= 2 && !ocultarSVGUpsilon" x1="69%" y1="70.6%" x2="18.7%" y2="7%" class="trazo2Up" />
        <line *ngIf="pasoUpsilon >= 3 && !ocultarSVGUpsilon" x1="18.5%" y1="7%" x2="18.2%" y2="62%" class="trazo3Up" />
        <line *ngIf="pasoUpsilon >= 4 && !ocultarSVGUpsilon" x1="18.6%" y1="62%" x2="42%" y2="92%" class="trazo4Up" />
        <line *ngIf="pasoUpsilon >= 5 && !ocultarSVGUpsilon" x1="42.1%" y1="92%" x2="61%" y2="40%" class="trazo5Up" />
      </svg>
      <img *ngIf="mostrarUpsilon" (click)="irA('upsilon')" class="completa" src="assets/img/constelaciones/upsilon/upsilon_constelacion.png" />
      <span class="nombre">Upsilon</span>
    </div>
  </div>

  
  <img 
    class="imagen-fondo"
    src="assets/fondos/fondo_universo.jpg"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; object-position: top; z-index: 0;"
  />
  <div class="opciones aparecer">
    <app-atras [pagina]="'geones'"></app-atras>
    <app-musica></app-musica>
    <app-ayuda [pagina]="'constelaciones'"></app-ayuda>
    <app-salir></app-salir>
  </div>
</ion-content>