.flash {
    background-color: white;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    pointer-events: none;

    animation: desaparecer-flash 1.5s forwards;

    z-index: 10;
}

.fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: 0;
}

.lista {
    position: absolute;
    top: 57%;
    left: 0;
    width: 90%;
    height: 80%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: flex-start;
    // gap: 3%;

    overflow-x: auto;
    overflow-y: hidden;

    scroll-behavior: smooth;

    margin-inline: 5%;

    box-sizing: border-box;

    z-index: 1;

    .bishna {
        flex: 0 0 auto;
        height: 100%;
        aspect-ratio: 2/2.5;
    }

    .oculto {
        opacity: 0;
        pointer-events: none;
    }

    .mostrar {
        
    }
}

@keyframes desaparecer-flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.ampliar-lista {
    // padding-left: 50vw;
    padding-right: 100vw;
    height: 100%;
    top: 50%;
    margin-left: 0;

    overflow-x: hidden;
}