// .imagen-fondo {

// }

.cuerpo {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    row-gap: 3vh;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    padding-top: 4vh;
    padding-left: 8vw;
    padding-right: 6.5vw;
    padding-bottom: 4vh;

    .geones {
        background-image: url('/assets/img/panel_categoria.png');
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        
        height: 20vh;

        display: flex;
        align-items: center;
        justify-content: center;
        
        z-index: 1;
        
        font-family: 'Aladin', sans-serif;
        font-size: 9vh;
        color: white;
        
        padding-top: 2px;
    }

    .texto {
        white-space: pre-line;
        height: 100%;
        overflow-y: auto;
        font-size: 1.2rem;
        font-family: 'Amiri';
        color: black;
        line-height: 1.2;
        // font-weight: bold;
    }

    .botones {
        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: center;
        justify-content: space-evenly;

        .boton {
            background-image: url('/assets/img/boton_interior.png');
            background-color: transparent;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            height: 15vh;
            max-width: 50vw;

            text-align: center;
            font-size: 1.2rem;
            font-family: 'Immortal', serif;
            color: white;

            display: flex;
            justify-content: center;
            align-items: center;

            span{
                width: 20vw;
            }

            .manifestaciones {
                display: inline-block;
                margin-top: -2.5%;
                line-height: 1;
            }
        }
    }
}

.opciones {

    .sonido {
        position: absolute;
        top: 7%;
        left: 91%;
    }
    
    .ayuda {
        position: absolute;
        top: 7%;
        left: 84%;
    }
    
    .atras {
        position: absolute;
        top: 7%;
        left: 5%;
    }
}

.aparecer {
    animation: aparecer 0.75s forwards;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}