ion-content {
    // --background: #c4b48c;
}

.cuerpo {
    display: grid;
    grid-template-rows: 1fr 2fr;
    row-gap: 3vh;
    justify-content: center;
    align-items: center;
    transition: grid-template-rows 0.3s ease;

    width: 100vw;
    height: 100vh;

    padding-top: 4vh;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-bottom: 4vh;

    &.expandido {
        grid-template-rows: 1fr 5fr;
    }

    .geones {
        background-image: url('/assets/img/titulo_geones.png');
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        
        height: 20vh;

        display: flex;
        align-items: center;
        justify-content: center;
        
        z-index: 1;
        
        font-family: 'fantaisie', sans-serif;
        font-size: 9vh;
        color: white;
        
        padding-top: 2px;
    }

    .texto {
        white-space: pre-line;
        height: 50vh;
        // height: 260%;
        overflow-y: auto;
        font-size: 1.1rem;
        font-family: 'Aladin';
        color: white;
        // line-height: 1.2;
        transform: translateY(3vh);

        clip-path: inset(0 0 100% 0);
        transition: clip-path 0.4s ease;
    }

    .aparecerTexto {
        animation: revelarTexto 0.4s forwards;
    }

    .ocultarTexto {
        animation: ocultarTexto 0.4s forwards;
    }

    .botones {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        // row-gap: 5vh;
        align-items: center;
        justify-content: center;
        
        .boton {
            background-image: url('/assets/img/cuadro_nombre_personaje.png');
            background-color: transparent;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            
            height: 30vh;
            width: 100%;
            
            text-align: center;
            font-size: 1.5rem;
            font-family: 'fantaisie', serif;
            color: white;
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            span {
                width: 33vw;
            }
            
            .manifestaciones {
                display: inline-block;
                // margin-top: -0.5%;
                line-height: 0.9;
            }
        }
    }
    
    .botones.ocultar {
        animation: bajarBotones 0.4s forwards;
    }
    
    .botones.mostrar {
        animation: subirBotones 0.4s forwards;
    }

    .cuerpoMenu {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translateX(-50%) translateY(0);;
        display: flex;
        justify-content: center;

        .menu {
            position: absolute;
            top: 80%;
            left: 100;

            color: white;
            font-family: 'aladin', serif;
            font-size: 1.1rem;
        }

        .toggle {
            width: 30%;
            transition: transform 0.4 ease;
        }
        
        .toggle.flechaArriba {
            animation: subirFlecha 0.4s forwards;
        }
        
        .toggle.flechaAbajo {
            animation: bajarFlecha 0.4s forwards;
        }

        .menu.menuArriba {
            animation: subirMenu 0.4s forwards;
        }

        .menu.menuAbajo {
            animation: bajarMenu 0.4s forwards;
        }
    }
}

.opciones {
    
    .sonido {
        position: absolute;
        top: 7%;
        left: 91%;
    }
    
    .ayuda {
        position: absolute;
        top: 7%;
        left: 84%;
    }
    
    .atras {
        position: absolute;
        top: 7%;
        left: 5%;
    }
}

.aparecer {
    animation: aparecer 0.75s forwards;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bajarBotones {
    0% {
        transform: translateY(-70%);
    }
    100% {
        transform: translateY(70%);
    }
}

@keyframes subirBotones {
    0% {
        transform: translateY(70%);
        // transform: translateY(300px);
    }
    100% {
        // transform: translateY(0px);
        transform: translateY(-70%);
    }
}

@keyframes subirFlecha {
    0% {
        transform: translateY(0) rotateZ(0deg);
        // transform: translateX(-50%) translateY(0) rotateZ(0deg);
    }
    100% {
        transform: translateY(-40vh) rotateZ(180deg);
        // transform: translateX(-50%) translateY(-45vh) rotateZ(180deg);
    }
}

@keyframes bajarFlecha {
    0% {
        transform: translateY(-40vh) rotateZ(180deg);
        // transform: translateX(-50%) translateY(-45vh) rotateZ(180deg);
    }
    100% {
        transform: translateY(0px) rotateZ(0deg);
        // transform: translateX(-50%) translateY(0px) rotateZ(0deg);
    }
}

@keyframes revelarTexto {
    0% {
        clip-path: inset(0 0 100% 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes ocultarTexto {
    0% {
        clip-path: inset(0 0 0 0);
    }
    100% {
        clip-path: inset(0 0 100% 0);
    }
}

@keyframes subirMenu {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    1% {
        opacity: 0;
    }
    99% {
        opacity: 1;
    }
    100%{
        transform: translateY(-55vh);
    }
}

@keyframes bajarMenu {
    0%{
        transform: translateY(-55vh);
    }
    1% {
        opacity: 0;
    }
    99% {
        opacity: 1;
    }
    100%{
        transform: translateY(0);
    }
}